@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: background .3s, color .3s;
  }

  body {
    min-block-size: 100dvh;
    @apply flex flex-col p-5 bg-light dark:bg-dark;
  }
}

.content {
  flex: 1;
  width: min(100%, 1150px);
  margin: 0 auto;
}

.link {
  @apply font-main text-lg text-light font-semibold relative dark:text-dark;

  &::after {
    content: '';
    transition: all .3s;
    @apply absolute left-1/2 top-full w-0 h-[2px] bg-dark dark:bg-light;
  }

  &:hover::after {
    @apply w-full left-0;
  }
}

.menuIcon {
  @apply relative flex flex-col gap-2 w-7 h-[2px] bg-black dark:bg-white transition;

  &::after {
    content: '';
    @apply absolute bottom-[6px] w-full h-[2px] bg-black dark:bg-white;
  }

  &::before {
    content: '';
    @apply absolute top-[6px] w-7 h-[2px] bg-black z-10 dark:bg-white;
  }

  &.open {
    @apply rotate-45;
  }

  &.open::after {
    @apply bottom-0;
  }

  &.open::before {
    @apply rotate-90 top-0;
  }
}
