@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: background .3s, color .3s;
  }
}

body {
  min-block-size: 100dvh;
  @apply flex flex-col p-5 bg-light dark:bg-dark;
}

.content {
  flex: 1;
  width: min(100%, 1150px);
  margin: 0 auto;
}
